* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}
body {
    font-family: 'Courier New', Courier, monospace;
}
a {
    text-decoration: none;
    color: #fff;
}
body {
    background-image: linear-gradient(to bottom right, rgba(79, 51, 176, 1.0), rgba(210, 53, 165));
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.calculator {
    position: relative;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}
.theme-toggler.active {
    color: #333;
}
.theme-toggler.active::before {
    background-color: #fff;
}
.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}
#display {
    margin: 10px 0;
    height: 50px;
    font-size: 24px;
    color: #000; 
    overflow-x: auto;
    text-align: right;
}
button {
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 10px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 200ms ease;
}
button:hover {
    transform: scale(1.1);
}
button#equal {
    height: 115px;
}


.calculator {
    background-color: #fff; 
    color: #000; 
}

.calculator #display {
    color: #000; 
}

.calculator button {
    background-color: #f1f1f1;
    color: #000;
}

.calculator button#clear {
    background-color: #ffcccc;
    color: #b30000; 
}

.calculator button.btn-operator {
    background-color: #e6e6e6;
    color: #000; 
    font-weight: bold;
}

.calculator button.btn-number {
    background-color: #ffffff;
    color: #000;
}

.calculator button.btn-equal {
    background-color: #ccffcc;
    color: #006600; 
}


.calculator.dark {
    background-color: #071115; 
}

.calculator.dark #display {
    color: #fff; 
}

.calculator.dark button {
    background-color: #1b2f38; 
    color: #f8fafb; 
}

.calculator.dark button#clear {
    background-color: #2d191e;
    color: #bd3740; 
}

.calculator.dark button.btn-operator {
    background-color: #2e1f39;
    color: #aa00a4; 
}

.calculator.dark button.btn-number {
    background-color: #1b2f38;
    color: #ffffff; 
}

.calculator.dark button.btn-equal {
    background-color: #223323;
    color: #ffffff; 
}
